Conexão Local ao Banco de Dados SQL Server

In [ ]:
#pip install pyodbc

import pandas as pd
import pyodbc   

server = 'localhost' # Substitui pelo nome do servidor SQL Server
database = 'AdventureWorks2019' # Substitui pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor() # Cria um cursor para executar comandos SQL

Conexão com Senha ao Banco de Dados SQL Server

In [ ]:
"""
import pandas as pd
import pyodbc   

server = 'localhost' # Substitui pelo nome do servidor SQL Server
database = 'AdventureWorks2019' # Substitui pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           f'usuario=;' # Substitui pelo nome de usuário, se necessário
                           f'senha=;' # Substitui pela senha, se necessário
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor() # Cria um cursor para executar comandos SQL


"""

In [ ]:
dados = pd.read_excel('dados.xlsx') # Lê os dados do arquivo Excel, substitua pelo caminho correto do arquivo
dados.head(10) # Exibe as primeiras 10 linhas do DataFrame

In [ ]:
dados.columns # Exibe os nomes das colunas do DataFrame

In [ ]:
str(dados.columns).replace("'","") # Exibe os nomes das colunas do DataFrame sem aspas simples

In [ ]:
# Exibe os tipos de dados de cada coluna do DataFrame
dados.dtypes # Exibe os tipos de dados de cada coluna do DataFrame

In [ ]:
#Conversão de dados
#df['Nome'] =df.Nome.astype(str) # Converte a coluna 'Nome' para o tipo string
dados['total_price'] = dados['total_price'].astype(float) # Converte a coluna 'total_price' para o tipo float

dados['create_at'] = pd.to_datetime(dados['created_at']) # Converte a coluna para o formato de data e hora
dados['email'] = dados['email'].fillna('Sem Registro') # Preenche os dados Nan

Inserindo DataFrame no Banco

In [ ]:
cursor.execute('truncate table Produtos') # Limpa a tabela Produtos
cursor.commit() # Confirma a transação no banco de dados

In [ ]:
for index, linha in dados.iterrows():

    cursor.execute("Inset into [Produtos](ID,Nome,Price,Id_Category)values(?,?,?,?)",
                   linha['ID'], linha['Nome'], linha['Price'], linha['Id_Category']) # Insere os dados no banco de dados usando o cursor
conexaoDB.commit() # Confirma a transação no banco de dados
cursor.close() # Fecha o cursor após a inserção
conexaoDB.close() # Fecha a conexão com o banco de dados

In [ ]:
# Tratando os tipos de Dados quando tem caracteres especiais (acentos)
for index, linha in dados.iterrows():
    linha.Email = str(linha.Email) # Converte o valor da coluna Email para string antes da inserção
    cursor.execute("Inset into [Produtos](ID,Nome,Price,Id_Category,Email)values(?,?,?,?,?)",
                   linha['ID'], linha['Nome'], linha['Price'], linha['Id_Category'], linha['Email']) # Insere os dados no banco de dados usando o cursor
conexaoDB.commit() # Confirma a transação no banco de dados
cursor.close() # Fecha o cursor após a inserção
conexaoDB.close() # Fecha a conexão com o banco de dados