In [ ]:
#pip install pyodbc

import pandas as pd
import pyodbc   

server = 'localhost' # Substitui pelo nome do servidor SQL Server
database = 'AdventureWorks2019' # Substitui pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                           f'SERVER={server};'
                           f'DATABASE={database};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor() # Cria um cursor para executar comandos SQL

In [ ]:
dados = pd.read_sql('SELECT * FROM Categoria', conexaoDB) # Executa a consulta SQL e armazena o resultado em um DataFrame
# Observação: Caso o nome da tabela tenha espaços ou caracteres especiais, use colchetes: [Categoria]
dados.head(10) # Exibe as primeiras 10 linhas do DataFrame

In [ ]:
Query = 'SELECT * FROM Categoria'
categoria2 = pd.read_sql(Query, conexaoDB) # Executa a consulta SQL e armazena o resultado em um DataFrame
categoria2.head(10) # Exibe as primeiras 10 linhas do DataFrame

In [ ]:
# Exemplo de consulta SQL com parâmetros
Query = '''
SELECT * FROM Clientes
WHERE State IN ('Acre', 'Mato Grosso', 'Goiás', 'Paraná', 'Rio Grande do Sul') 
AND first_name IN ('Ana', 'João', 'Maria', 'José', 'Carlos')
'''
ClientesEspecificos = pd.read_sql(Query, conexaoDB) # Executa a consulta SQL e armazena o resultado em um DataFrame
display(ClientesEspecificos)